<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,606},{87,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,52}}</string>
                <key>sourceSize</key>
                <string>{87,52}</string>
            </dict>
            <key>drop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{129,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,127}}</string>
                <key>sourceSize</key>
                <string>{129,127}</string>
            </dict>
            <key>drop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,416},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>drop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1368},{107,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{107,132}}</string>
                <key>sourceSize</key>
                <string>{107,136}</string>
            </dict>
            <key>drop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,606},{56,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>drop_air.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1073},{194,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,106}}</string>
                <key>sourceSize</key>
                <string>{194,106}</string>
            </dict>
            <key>dropdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,995},{178,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,295}}</string>
                <key>sourceSize</key>
                <string>{178,295}</string>
            </dict>
            <key>dropdown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{238,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,394}}</string>
                <key>sourceSize</key>
                <string>{238,394}</string>
            </dict>
            <key>dropdown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{238,388}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{238,388}}</string>
                <key>sourceSize</key>
                <string>{238,394}</string>
            </dict>
            <key>fail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,697},{506,296}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{506,296}}</string>
                <key>sourceSize</key>
                <string>{506,312}</string>
            </dict>
            <key>fail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{506,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,312}}</string>
                <key>sourceSize</key>
                <string>{506,312}</string>
            </dict>
            <key>head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1016},{110,146}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{110,146}}</string>
                <key>sourceSize</key>
                <string>{112,176}</string>
            </dict>
            <key>head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{108,168}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{108,168}}</string>
                <key>sourceSize</key>
                <string>{112,176}</string>
            </dict>
            <key>home_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,242},{172,394}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,394}}</string>
                <key>sourceSize</key>
                <string>{172,396}</string>
            </dict>
            <key>home_old_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,587},{108,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,34}}</string>
                <key>sourceSize</key>
                <string>{108,36}</string>
            </dict>
            <key>home_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{576,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{576,60}}</string>
                <key>sourceSize</key>
                <string>{580,60}</string>
            </dict>
            <key>home_top_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,364}}</string>
                <key>sourceSize</key>
                <string>{592,364}</string>
            </dict>
            <key>home_young.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,416},{188,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,392}}</string>
                <key>sourceSize</key>
                <string>{188,392}</string>
            </dict>
            <key>home_young_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,477},{108,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,34}}</string>
                <key>sourceSize</key>
                <string>{108,36}</string>
            </dict>
            <key>main_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1128},{186,283}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,283}}</string>
                <key>sourceSize</key>
                <string>{188,293}</string>
            </dict>
            <key>main_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{186,293}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,293}}</string>
                <key>sourceSize</key>
                <string>{188,293}</string>
            </dict>
            <key>maotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{108,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,243}}</string>
                <key>sourceSize</key>
                <string>{108,243}</string>
            </dict>
            <key>result_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{350,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{350,84}}</string>
                <key>sourceSize</key>
                <string>{352,84}</string>
            </dict>
            <key>result_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,606},{350,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{350,84}}</string>
                <key>sourceSize</key>
                <string>{352,84}</string>
            </dict>
            <key>result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,744},{270,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,110}}</string>
                <key>sourceSize</key>
                <string>{272,112}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,995},{208,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,76}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tex.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb4c3a0d397f47597f42be56e30f7e85:1/1$</string>
            <key>textureFileName</key>
            <string>tex.png</string>
        </dict>
    </dict>
</plist>
